/* styles.css */
/* Estilo para los enlaces en la barra de navegación */
body {
    background-color: #000000; /* Negro en código hexadecimal */
    color: #ffffff; /* Color del texto en blanco para que sea legible en el fondo negro */
}

.navbar-nav .nav-link {
    color: #ffffff; /* Blanco en código hexadecimal */
}

/* Estilo para cambiar el color del fondo al pasar el cursor sobre el enlace */
.navbar-nav .nav-link:hover {
    background-color: #ffffff; /* Cambia el color al pasar el cursor a blanco */
    color: #000000; /* Cambia el color del texto al pasar el cursor a negro */
}